@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset:0 ;
}
a,a:hover{
    text-decoration: none;
}
a:hover{
    color: var(--orange-color);
}
ul,ol {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #A82C48;
    --secondry-color: #43121d;
    --orange-color: #FF8C00;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondry-font: 'Quicksand', sans-serif;
    --red-color: #731010;
}
html {
    scroll-behavior: smooth;
    overflow-x:hidden;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
    background-color: var(--black-color);
    overflow-x:hidden;
}


::-webkit-scrollbar {
    width: 0.625;
}
::-webkit-scrollbar-thumb {
    background: var(--orange-color);
}
::-webkit-scrollbar-track {
    background: var(--black-color);
}

/*  preloader design */


.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* social icon bar design */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .whatsapp {
    background: #25d366;
    color: white;
  }

/* .icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     z-index: none;
}
.icon-bar a{
  text-decoration: none;
  width: 150px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  transform: translateX(-120px);
  -webkit-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
    transition: all 0.5s linear;
   -webkit-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
}
.icon-bar a:hover{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
}
.facebook{
    background: #3b5998;
}
.twitter{
    background: #00aced;
}
.Instagram{
    background: #e4405f;
}
.icon-bar a i{
  padding-left: 20px;
  font-size: 30px !important;
  animation: letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom {
 from {
     transform: scale(0.8);
 }
 to {
     transform: scale(1);
 }
} */

/* whatspp icon design */
.whatsapp-btn-container {
    position: fixed;
    right: 30px;
    opacity: 0;
    bottom: -50px;
    padding: 24px;
    animation:  fade-up 1000ms forwards;
    animation-delay: 1000ms;
    z-index:100;
}
@keyframes fade-up {
    100% {
        bottom: 24px;
        opacity: 1;
    }
}
.whatsapp-btn-container .whatsapp-btn{
    font-size: 48px;
    color: #25d366;
    display: inline-block;
    transition: all 400ms;
}
.whatsapp-btn-container .whatsapp-btn:hover{
    transform: scale(1.2)
}
.whatsapp-btn-container span {
    position: absolute;
    top: 0;
    left: 4px;
    font-family: "Roboto",sans-serif;
    color: #FF8C00;
    transform: rotateZ(20deg) translateX(10px);
    opacity: 0;
    transition: all 400ms;
}
.whatsapp-btn-container .whatsapp-btn:hover + span {
  transform: rotateZ(0deg) translateX(0px);
  opacity: 1;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--orange-color);
}
h2 {
    font-weight: 700;
    font-size: 28px;
    text-transform: capitalize;
    font-family: var(--secondry-font);
    color: var(--orange-color);
    line-height: 3rem;
}
h4 {
    color: var(--orange-color);
    font-family: var(--secondry-font);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
h5 {
    color: var(--white-color);
    text-transform: capitalize;
    font-family: var(--secondry-font);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
p {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    line-height: 1.75rem;
    letter-spacing: 1px;
}
.main-btn {
    display: inline-block;
    padding: 0.625rem 1.1875rem;
    line-height: 1.5625rem;
    background-color: var(--orange-color);
    border: 0.1875rem solid var(--orange-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.white-btn {
    padding: 00.625rem 1.875rem;
    line-height: 25px;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--orange-color);
    color: var(--black-color);
    font-size: 00.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.main-btn:hover {
    background-color: transparent;
    color: var(--orange-color);
    border-color: var(--orange-color);
}
.wrapper {
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
}
.text-content {
    width: 70%;
    margin: auto;
}
.counter-section h2,
.testimonial-section h2,
.book-food-text h2 
{
    color: var(--white-color);
}
.navbar.top{
    position: relative;
    z-index: 5;
    height: 3.125;
    padding: 0rem;
}
.navbar.top ul li a{
    font-size: 0.95rem;
    font-weight: 500;
}
/* header design */
.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 200ms linear;
}
.navbar-toggler-icon {
    width: unset;
    height: unset;
}
.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}
.nav-link {
    font-size: 000.9375rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--orange-color);
    letter-spacing: 1px;
}
.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 00.625rem;
}

/* change navbar styling on scroll */
.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0,0.09);
    transition: all .15 ease-in-out 0s;
}

/* appointment-section */
.appointment-section{
    padding: 0%;  
}
.item {
    background-color: var(--orange-color);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    transition: 0.3s;

}
.item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.item i{
    font-size: 3.5rem;
    font-weight: 900;
    padding: 1.5rem;
    border-radius: 50%;
    text-align: center;
}
.item p{
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
    line-height: 1.75rem;
    letter-spacing: 1px;
}

/* video design */
.bg-video-wrap{
    overflow: hidden;
    width: 100%;
    height: 93vh;
    object-fit: cover
}
.bg-video-wrap video{
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    overflow: hidden;
}
.bg-video-wrap .text-area{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--white-color);
    letter-spacing: 5px;
    line-height: 3rem;
}
.bg-video-wrap .text-area span {
    color: var(--white-color);
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation: animate 3s forwards;
    display: inline-block;

}
.bg-video-wrap .text-area span:nth-of-type(2){
    animation-delay: .1s;
}
.bg-video-wrap .text-area span:nth-of-type(3){
    animation-delay: .2s;
}
.bg-video-wrap .text-area span:nth-of-type(4){
    animation-delay: .3s;
}
.bg-video-wrap .text-area span:nth-of-type(5){
    animation-delay: .4s;
}
.bg-video-wrap .text-area span:nth-of-type(6){
    animation-delay: .5s;
}
.bg-video-wrap .text-area span:nth-of-type(7){
    animation-delay: .6s;
}
.bg-video-wrap .text-area span:nth-of-type(8){
    animation-delay: .7s;
}
.bg-video-wrap .text-area span:nth-of-type(9){
    animation-delay: .8s;
}
.bg-video-wrap .text-area span:nth-of-type(10){
    animation-delay: .9s;
}
.bg-video-wrap .text-area span:nth-of-type(11){
    animation-delay: .10s;
}
.bg-video-wrap .text-area span:nth-of-type(12){
    animation-delay: .11s;
}
.bg-video-wrap .text-area span:nth-of-type(13){
    animation-delay: .12s;
}
.bg-video-wrap .text-area span:nth-of-type(14){
    animation-delay: .13s;
}
.bg-video-wrap .text-area span:nth-of-type(15){
    animation-delay: .14s;
}
.bg-video-wrap .text-area span:nth-of-type(16){
    animation-delay: .15s;
}
.bg-video-wrap .text-area span:nth-of-type(17){
    animation-delay: .16s;
}
@keyframes animate {
    60% {
        transform: translate(20px, 0) scale(1);
        color: #fff;
    }
    80% {
        transform: translate(20px, 0) scale(1);
        color: #fff;
    }
    99% {
        transform: translate(0) scale(1.2);
        color:  #FF8C00;
    }
    100% {
        transform: translate(0) scale(1);
        color: #fff;
        opacity: 1;
    }
}
.bg-video-wrap .content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 3;
    width: 100%;
}
.bg-video-wrap .content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--white-color);
    letter-spacing: 5px;
    line-height: 3rem;
}
.bg-video-wrap .content p {
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
    line-height: 1.75rem;
}

/* section-2 counter design */
.counter-section{
    background-color: var(--orange-color);
    padding: 2.5rem 0;
}
.counter-section p {
    color: var(--white-color);
    text-transform: uppercase;
}

/* section-3 about design */
.about-section {
    background: var(--black-color);
}
.about-section .card,
.about-section .card img {
    border-radius: 0.625rem;
}
.about-section .text-sec {
    padding-left: 2rem;
}
.food-type {
    padding-top: 3.25rem;
}
.food-type ul li {
    font-size: 1rem;
    color: var(--white-color);
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}
.food-type ul li::before{
    left: -2.1875;
    color: var(--orange-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}
.story-section {
    width: 100%;
    height: 28.125rem;
    background: url('../images/fusion-webimage-1.jpg' )no-repeat center;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}
.story-section h2 {
    color: var(--orange-color);
}

/* section video-gallary */
.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.video-play {
    height: 250px;
    width: 350px;
    border-radius: 5px;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0 ,0.7);
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}
.video-play video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.video-play:hover video{
     transform:scale(1.1) ;
}
.popup-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.popup-video video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
}
.popup-video video span {
    position: absolute;
    top: 5px;
    right:20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

/* section services style */
.services  .card{
    border: none;
    background-color: transparent;
    border-radius: 0.9375rem;
}
.services .card img{
    border-radius: 0.9375rem;
    object-fit: cover;
}
.services .card span{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--orange-color);
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #eee;
}
.services .card span del{
    color: var(--white-color);
    margin-left: 0.5rem;
}
/* 
testimonial section style */

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 20px auto;
	padding: 0 40px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 450px;
}
.carousel .item .img-box {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px  30px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #db584e;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


/* FAQ Section design */
.accordion .card {
    background: none;
    border: none;
}
.accordion .card .card-header {
    background: none;
    border: none;
    padding: .4rem 1rem;
    font-family: "Roboto", sans-serif;
}
.accordion .card-header h2 span {
    float: left;
    margin-top: 10px;
}
.accordion .card-header .btn {
    color: var(--white-color);
    font-size: 1.04rem;
    text-align: left;
    position: relative;
    font-weight: 500;
    padding-left: 2rem;
}
.accordion .card-header i {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 9px;
}
.accordion .card-header .btn:hover {
    color: #F0E68C;
}
.accordion .card-body {
    color: var(--white-color);
    padding: 0.5rem 3rem;
}
.page-title {
    margin: 3rem 0 3rem 1rem;
    font-family: "Roboto", sans-serif;
    position: relative;
}
.page-title::after {
    content: "";
    width: 510px;
    position: absolute;
    height: 3px;
    border-radius: 1px;
    /* background: #A82C48; */
    left: 0;
    bottom: -15px;
}
.accordion .highlight .btn {
    color: #F0E68C;
}
.accordion .highlight i {
    transform: rotate(180deg);
}

/* client reviews box */
.test-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.test-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 10px 20px;
}
.test-heading span{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 10px;
    text-transform: uppercase;
}
.test-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.test-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user span{
    color: saddlebrown;
    font-size: 0.8rem;
}
.reviews {
    color: #f9d71c;
}
.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p {
    font-size: 0.9rem;
    color: var(--text-color);
}
/* Comments-container */
/* .faq h4 span{
    color: var(--primary-color);
    font-size: 1.875rem;
    margin-right: 0.3125;
} */
.book-food{
    width: 100%;
    background: url('../images/fusionImage.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position:0 71.9125px ;
    padding: 10.375rem 0;
}
/* new Gallary-section design */
.item-image {
    transition: .5s ease-in-out;

}
.item-image img {
    border-radius: 10px;
    border: 5px solid var(--white-color);
}
.item-image:hover {
  filter: brightness(80%);
}
 /* old Gallary-section design */
 
 .gallary-section h2 {
    color: var(--orange-color);
}
 .hovereffects {
     width: 100%;
     height: 100%;
     overflow: hidden;
     text-align: center;
     cursor: default;
     margin-bottom: 5px;
 }
 .hovereffects .overlay{
     width: 100%;
     height: 100%;
     position: absolute;
     overflow: hidden;
     top: 0;
     left: 0;
     opacity: 0;
     background-color: rgba(0, 0, 0, 0.5);
     -webkit-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
 }
 .hovereffects  img{
     display: block;
     -webkit-transition: all 0.4s linear;
     transition: all 0.4s linear;
 }
 .hovereffects h2 {
     text-transform: uppercase;
     text-align: center;
     color: #fff;
     font-size: 12px;
     background: rgba(0, 0, 0, 0.6);
     -webkit-transform: translateY(-100px);
     -ms-transform: translateY(-100px);
     transform: translateY(-100px);
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     padding: 5px;
 }
 .hovereffects:hover img{
     -ms-transform: scale(1.2);
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
 }
 .hovereffects:hover .overlay{
     opacity: 1;
     filter: alpha(opacity=100);
 }
 .hovereffects:hover h2, .hovereffects:hover a.info{
     opacity: 1;
     filter: alpha(opacity=100);
     -ms-transform: translateY(0);
     -webkit-transform: translateY(0);
     transform:translateY(0);
 }
 .hovereffects:hover a.info{
     -webkit-transition-delay: .2s;
     transition-delay: .2s ;
 }

/* form control newsletter */
.newsletter{
    width: 55%;
    margin: 0 auto;
}
.newsletter .form-control{
    height: 3.225rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    border: 0.1875rem solid var(--text-gray);
    color: var(--black-color);
    font-weight: 700;
}
.newsletter .form-control:hover,
.newsletter .form-control:focus {
outline: none;
box-shadow: none;
border-color: var(--orange-color);
}

/* footer section design */
.footer {
    background: var(--orange-color);
}
.footer .footer-link{
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 1.875rem;
}
.footer .footer-link:hover{
    color: var(--white-color) !important;
}
.footer a i{
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 1rem;
}
  /* back-to-top */
  .back-to-top{
      background: wheat;
      margin: 0;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 70px;
      height: 70px;
      z-index: 100;
      display: none;
      text-decoration: none;
      columns: var(--black-color);
      background-color: transparent;
  }
  .back-to-top i {
      font-size: 60px;
  }


  .hero-section{background:#000;position:relative;overflow:hidden;width:100%;height:100vh}.hero-wrapper{width:100%;height:100%;position:absolute;background-repeat:no-repeat;background-position:center;background-size:cover;top:0;left:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;z-index:1}.hero-overlay{width:100%;height:100%;position:absolute;top:0;left:0;z-index:2;background:#000;opacity:.55}.hero-content{width:100%;max-width:1230px;padding:30px;position:relative;z-index:3;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.hero-title{font-size:80px;line-height:85px;font-weight:800;color:#fff;text-shadow:0 2px 2px #000;-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);-webkit-transform-origin:50% 50% 0;-ms-transform-origin:50% 50% 0;transform-origin:50% 50% 0;text-align:center;font-family:'PT Serif',serif}.hero-subtitle{width:100%;max-width:800px;margin:30px auto;color:#fff;font-size:16px;line-height:28px;text-align:center;font-weight:700}.hero-btns{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.btn:first-child{margin-right:10px}.snake-prim{height:48px;font-size:16px;padding:0 48px;background:#fff;color:#000;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-weight:700;-webkit-transition:all .15s ease;-o-transition:all .15s ease;transition:all .15s ease}.snake-sec{height:48px;font-size:16px;padding:0 48px;background:0 0;color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border:1px solid #fff;font-weight:700;-webkit-transition:all .15s ease;-o-transition:all .15s ease;transition:all .15s ease}.snake-prim:hover{background:#000;color:#fff}.snake-sec:hover{background:#fff;color:#000}.features{width:100%;max-width:1024px;padding:100px 0;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;position:relative}.features::after{content:"";position:absolute;width:calc(100% - 40px);height:1px;background:#f2f2f2;bottom:-1px;left:20px}.features-box{width:33.333%;padding:20px}h3{font-size:24px;font-weight:700;margin-bottom:20px;font-family:'PT Serif',serif;color:#444}p{font-size:16px;line-height:24px;color:#666}i{font-style:italic;white-space:nowrap}.demo{width:100%;max-width:728px;padding:100px 0;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;position:relative;text-align:center}.demo-box{width:100%;padding:20px}.editor{width:100%;padding:20px;background:#f8f8f8;border:1px solid #ddd;overflow:auto;text-align:left}.code{font-family:'Source Code Pro',monospace;font-size:small}.code>li{white-space:nowrap}.highlight{padding:4px 8px;background:#f8f8f8;display:inline-block;color:#7f749a;font-family:'Source Code Pro',monospace;font-size:small}.und{font-style:italic;color:#d82b0c;display:inline-block}.demo-box p{margin-bottom:30px}.comment{display:block;color:#b9b9b9;margin-bottom:5px}.ntr{color:#666;display:inline-block}.tag{color:#d82b0c;display:inline-block}.attribute{color:#d08701;display:inline-block}.link{color:#00c3e3;display:inline-block;text-decoration:underline}.not-link{color:#228b22;display:inline-block}.bl{color:#00c3e3}.space{display:inline-block;width:20px}.footer{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 20px 100px 20px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}@media only screen and (max-width:768px){.hero-title{font-size:48px;line-height:56px;text-align:left}.hero-subtitle{text-align:left}.hero-btns{display:block}.hero-btns .btn:first-child{margin-right:0;margin-bottom:10px}.features{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.features-box{width:100%}.demo{text-align:left}}.credit{margin-top:20px;}.credit>a{font-weight:700}.credit>a:hover{text-decoration:underline}
  [snake-parallax="hero"]{background-repeat:no-repeat;background-position:center;background-size:cover;background-image:url('../images/fusion-webimage-1.jpg')}


  .typewriter p {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    line-height: 1.75rem;
    letter-spacing: 1px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  /* #preloader{
      background: #000 url(images/preloader.gif) no-repeat center center;
      height: 15%;
      width: 100%;
      position: fixed;
      z-index: 100;
  } */